<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gachon.mpclass.mp_team_newnew">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mp_team_newnew"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBar8yw8TOHbP5U0VgwJL5gci9TfDy2cwc" />

        <activity android:name=".SaleActivity" />
        <activity android:name=".ChristmasActivity" />

        <activity android:name=".ClassificationActivity" />
        <activity android:name=".MypageActivity" />
        <activity android:name=".MyrecipeActivity" />
        <activity android:name=".ScrapActivity" />
        <activity android:name=".PostingActivity" />
        <activity android:name=".PostActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".JoinActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name="MyrecipeClicked" />
        <activity android:name=".IndiaActivity" />
        <activity android:name=".SalePostingActivity" />
        <activity android:name=".api.MapsActivity" />
        <activity android:name=".StartActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>